.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-repeat: no-repeat;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  padding: 50px 100px 100px;

}

.Nav { 
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-between;
 background-color: #282c34;
 padding: 50px 100px 100px;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header section {text-align: start;}
.App-header p {
  margin-bottom: 20px;
  text-align: start;
}

.Card-row{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 50px 100px 100px;

}

.Awesome-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500px;
  font-size: 50px;
  margin-top: 20px;
}



